
@{
    ViewBag.Title = "BookBuy.co.uk || About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<html>
<body style="background-image: url(/Content/Images/homeB.jpg)">

    <div class="jumbotron" style="text-align:justify;background-image:url(/Content/Images/contact.jpg">
        <div class="jumbotron-content">
            <h1 class="tbj-heading">About Us</h1>
            <center> <img src="~/Content/Images/tbjabout.jpg" alt="TBJ About" height="200" width="200" /> </center>
            <br />
            <p class="handwriting">
                TBJ Electronics is a British electrical retailer operating
                in the United Kingdom and Republic of Ireland, owned by TBJ plc and selling
                home electronics and home appliances.
            </p>
            <p class="handwriting">
                Established in 1980, TBJ Electronics expanded the range of goods sold and from the 1920s
                became a major retailer of household electrical items.
            </p>

            <p class="handwriting">
                In 1990 the company was bought by rival retailer Dixons,
                and the TBJ's' brand was used for all outlets of the combined company.
            </p>
            <p class="handwriting">
                From 2008, the business turned away from shops in town centres to
                larger out-of-town stores under the TBJ Electronics World brand,
                combining the operations of TBJ with Dixon's PC World under one roof;
                after the formation of Dixons Carphone in 2014,
                the stores gained Carphone Warehouse departments.
                By October 2021, all outlets rebranded as TBJ.
            </p>
            <center>
                <p class="handwriting">
                    Want to know more?<br />
                    You can email us at Email ID: <a href="mailto:tbjelectronics.ac.uk"><i class='fa fa-user'></i> tbjelectronics.ac.uk</a></a><br />
                    or call us at: <a href="tel:+44333789011"><i class='fa fa-phone'></i> +44 333 78 9011</a> <br />
                    or Visit us at: <a href='@Url.Action("Index", "Home")'><i class='fa fa-globe'></i> www.tbjelectronics.com</a>
                </p>
                <p class="handwriting">
                    Even better, you can follow us on Twitter, Facebook, Youtube, and Instagram:
                    <div class="social text-gray">
                        <a href="#"><i class='fa fa-twitter'></i></a>
                        <a href="#"><i class='fa fa-facebook'></i></a>
                        <a href="#"><i class='fa fa-youtube'></i></a>
                        <a href="#"><i class='fa fa-instagram'></i></a>
                    </div>
                </p>
            </center>
        </div>
    </div>

</body>
</html>


