
@{
    ViewBag.Title = "Tbjelectronics.co.uk || Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>

</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<html>
<body style="background: url(/Content/Images/homeB.jpg) no-repeat; background-size: cover;" >

    <div class="jumbotron" style="background-image: url(/Content/Images/contact.jpg) ">
        <div class="jumbotron-content">
            <center>
                <h1 class="tbj-heading"> Contact us</h1>

                <p class="handwriting">

                    TBJ Electronics <br />
                    The Charles Street <br />
                    Leicester <br />
                    LE1 9BC<br />
                    United Kingdom<br />
                    Email ID: <a href="mailto:tbjelectronics.ac.uk"><i class='fa fa-user'></i> tbjelectronics.ac.uk</a><br />
                    <a href="tel:+44333789011"><i class='fa fa-phone'></i> +44 333 78 9011</a><br />
                    Visit us at: <a href='@Url.Action("Index", "Home")'> <i class='fa fa-globe'></i> www.tbjelectronics.com</a><br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.4315179039936!2d5.751380115091023!3d51.06358385087737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0cf395cd562c3%3A0xd160fa9cfed83574!2sT.B.J.%20Electronics%2C%20Appareil%20de%20transmission!5e0!3m2!1sen!2suk!4v1649938147264!5m2!1sen!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <hr />
                    <p class="handwriting" style="color:lightseagreen"> Do check out our social media handles</p>
                    <div class="social text-gray">
                        <a href="#"><i class='fa fa-twitter'></i></a>
                        <a href="#"><i class='fa fa-facebook'></i></a>
                        <a href="#"><i class='fa fa-youtube'></i></a>
                        <a href="#"><i class='fa fa-instagram'></i></a>
                        <a href="#"><i class='fa fa-wechat'></i></a>
                    </div>

                </p>
            </center>
        </div>
    </div>

</body>
</html>




